#content {
  background: url(../public/drumset.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9;
  height: 100%;
}

#welcome {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#intro {
  font-family: 'Overpass', sans-serif!important;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px #000;
}


.tracks {
  margin-left: 100px;
}

.tracks > h4 {
  font-family: 'Overpass', sans-serif!important;
  color: #fff;
  text-shadow: 1px 1px #000;
}
