body {
  background: url(../public/drumset.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
  height: 100%;
  background-color: #221e15;
}

.sidebar {
  display: none;
  text-align: center;
  background-color: #221e15;
  height: 100%;
  position: fixed;
  left: 5px;
  width: 250px;
  z-index: 1;
  top: 0;
  z-index: 1000;
  animation-name: sidebar;
  animation-duration: 0.5s;
  overflow-y: scroll;
}

.song-list{
	text-align: left;
}

#closeBar {
  position: relative;
  top: 5px;
  left: 100px;
}

@keyframes sidebar {
  0% {
      transform: translate3d(-250px, 0, 0);
  }
  100% {
      transform: translate3d(0px, 0, 0);
  }
}

.pullout-tab {
  background-color: #dc3545;
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 125px;
  position: fixed;
  left: -40px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#songList {
  font-family: 'Overpass', sans-serif!important;
  color: #fff;
  position: relative;
  top: 10px;
}

#songList a {
  color: #dc3545;
}

#welcome {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#intro {
  font-family: 'Overpass', sans-serif!important;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#trackbar {
  display: inline-block;
  /* position: relative;
  left: 100px; */
  width: 75%;
}

#trackLayer1 {
  width: 75%;
  margin-bottom: 10px;
}

#trackLayer2 {
  width: 75%;
  margin-bottom: 10px;
}

#trackLayer3 {
  width: 75%;
  margin-bottom: 10px;
}

.tracker {
  margin-left: 100px;
}

.tracks {
  margin-left: 200px;
}

h5 {
  font-family: 'Overpass', sans-serif!important;
  color: #fff!important;
  text-shadow: 1px 1px #000;
}
